.Tabs {
  display: flex;
  flex-direction: column;
  padding: 50px 0;

  .tabsTitles {
    & > ul {
      display: flex;
      padding: 0;
      margin: 0;

      & > li {
        display: flex;
        flex: 1;
        align-items: baseline;
        justify-content: space-between;
        padding: 15px 20px;
        background-color: #ccc;
        list-style-type: none;
        transition: all 400ms ease-in-out;
        cursor: pointer;

        & > span {
          font-size: 0.7rem;
        }

        .chevron {
          width: 5px;
          height: 5px;
          margin-left: 5px;
          border-bottom: 2px solid #000;
          border-right: 2px solid #000;
          transform: rotate(-135deg);
          transition: all 400ms ease-in-out;
        }

        &.activeTab {
          background-color: #000;
          color: #fff;
          flex: 1.5;

          .chevron {
            border-bottom: 2px solid #fff;
            border-right: 2px solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }
  }

  .contentSelectedTab {
    padding: 40px 60px;
    min-height: 250px;
    background-color: #fff;

    .spin {
      animation: spin 400ms linear;
    }
  }
}

@media screen and (min-width: 992px) {
  .Tabs {
    flex-direction: row;

    .tabsTitles {
      flex: 1;

      & > ul {
        flex-direction: column;

        & > li {
          padding: 15px 30px;

          &:not(:last-child) {
            border-bottom: 1px solid #fff;
          }

          & > span {
            font-size: 1rem;
          }
        }
      }
    }

    .contentSelectedTab {
      flex: 2;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
