.menu {
  background-color: transparent;
  flex-direction: column;
  display: flex;
  color: #fff;
  padding: 20px 0;

  .brand {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    flex-direction: row;
    align-items: center;

    .brand {
      flex: 0 0 auto;
      order: 1;
    }
  }
}
