@import './global.scss';

@font-face {
  font-family: 'Gotham Book';
  src: url('./Assets/fonts/Gotham-Book.otf');
}

@font-face {
  font-family: 'Gotham';
  src: url('./Assets/fonts/Gotham-Medium.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('./Assets/fonts/Gotham-Bold.otf');
  font-weight: bold;
}

.App {
  font-family: 'Gotham Book', serif;
  .wrapper-header {
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .slider {
    margin-top: -62px;

    .aws-sld {
      --loader-bar-color: #4a00e4;
    }

    .aws-sld__content > img ~ div {
      position: absolute;
      left: 20%;
      width: 250px;
      padding: 20px;
      color: #fff;

      .caption-title-slide {
        font-family: 'Gotham';
        font-weight: bold;
        font-size: 3rem;
        margin-top: 0;
        line-height: 45px;
      }

      .caption-content-slide {
        font-family: 'Gotham Book';
      }
    }
  }

  .section-title {
    font-family: 'Gotham';
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 3rem;
    line-height: 50px;
  }

  ._global_cookie_banner_ ._global_narrow_container_ {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;

    & > p {
      font-size: 0.8rem;
    }
  }
}

@media screen and (min-width: 768px) {
  .aws-sld {
    --slider-height-percentage: 100vh;
  }
  .section-title {
    font-size: 4rem;
  }
  ._global_cookie_banner_ ._global_narrow_container_ > p {
    font-size: 1rem !important;
  }
}

@media screen and (min-width: 1200px) {
  .App .wrapper-contact-us .validation-error > p {
    font-size: 1rem;
  }
}
